body {
  margin:0px;
  background-color:rgba(255, 255, 255, 0.6);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1377_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:675px;
}
#u1377 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:674px;
}
#u1377_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1378 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1379_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u1379 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  font-size:14px;
  color:#FFFFFF;
}
#u1379_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1380 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:376px;
  height:633px;
  overflow:hidden;
}
#u1380_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:633px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u1380_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1381_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:1121px;
}
#u1381 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1120px;
}
#u1381_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1382_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u1382 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:375px;
  height:1px;
}
#u1382_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1383 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u1384 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:14px;
  width:39px;
  height:17px;
  text-align:center;
}
#u1384_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u1385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:7px;
}
#u1385 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:20px;
  width:8px;
  height:6px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1385_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1386 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:18px;
}
#u1387 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:14px;
  width:40px;
  height:17px;
  text-align:center;
}
#u1387_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u1388_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:7px;
}
#u1388 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:20px;
  width:8px;
  height:6px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1388_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1389_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u1389 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:14px;
  width:16px;
  height:16px;
}
#u1389_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1389_ann {
  border-width:0px;
  position:absolute;
  left:359px;
  top:10px;
  width:1px;
  height:1px;
}
#u1390 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1391_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:18px;
}
#u1391 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:55px;
  height:17px;
  text-align:center;
}
#u1391_img.selected {
}
#u1391.selected {
}
#u1391_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u1392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:7px;
}
#u1392 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:20px;
  width:8px;
  height:6px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1392_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1393 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1394_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:18px;
}
#u1394 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:14px;
  width:76px;
  height:17px;
  text-align:center;
}
#u1394_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u1395_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:7px;
}
#u1395 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:20px;
  width:8px;
  height:6px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1395_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1396 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1397_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:18px;
}
#u1397 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:266px;
  width:216px;
  height:17px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u1397_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  word-wrap:break-word;
}
#u1398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:80px;
}
#u1398 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:175px;
  width:140px;
  height:79px;
  color:#999999;
}
#u1398_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:136px;
  word-wrap:break-word;
}
#u1399 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:18px;
}
#u1400 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:76px;
  width:97px;
  height:17px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
}
#u1400_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1401_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:236px;
}
#u1401 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:93px;
  width:339px;
  height:236px;
}
#u1401_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1401_ann {
  border-width:0px;
  position:absolute;
  left:350px;
  top:89px;
  width:1px;
  height:1px;
}
#u1402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:79px;
}
#u1402 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:93px;
  width:102px;
  height:78px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:8px;
  color:#666666;
  text-align:left;
}
#u1402_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:5px;
  width:95px;
  word-wrap:break-word;
}
#u1403 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:18px;
}
#u1404 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:364px;
  width:37px;
  height:17px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
}
#u1404_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1405_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:175px;
}
#u1405 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:387px;
  width:345px;
  height:175px;
}
#u1405_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1405_ann {
  border-width:0px;
  position:absolute;
  left:353px;
  top:383px;
  width:1px;
  height:1px;
}
#u1406 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:193px;
}
#u1407 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:625px;
  width:342px;
  height:193px;
}
#u1407_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1407_ann {
  border-width:0px;
  position:absolute;
  left:350px;
  top:621px;
  width:1px;
  height:1px;
}
#u1408_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
}
#u1408 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:598px;
  width:49px;
  height:17px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
}
#u1408_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1409 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1410_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
}
#u1410 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:853px;
  width:49px;
  height:17px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
}
#u1410_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1411_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:220px;
}
#u1411 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:880px;
  width:342px;
  height:220px;
}
#u1411_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1412 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1413 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:37px;
}
#u1414 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:283px;
  width:188px;
  height:36px;
  color:#666666;
}
#u1414_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:184px;
  word-wrap:break-word;
}
#u1415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:37px;
}
#u1415 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:283px;
  width:188px;
  height:36px;
  color:#FFFFFF;
}
#u1415_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:184px;
  word-wrap:break-word;
}
#u1416 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:376px;
  height:239px;
  overflow:hidden;
}
#u1416_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:239px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u1416_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1417_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:276px;
}
#u1417 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:275px;
}
#u1417_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1418 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:270px;
}
#u1419_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:31px;
}
#u1419 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:30px;
}
#u1419_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:371px;
  word-wrap:break-word;
}
#u1420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:31px;
}
#u1420 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:375px;
  height:30px;
}
#u1420_img.selected {
}
#u1420.selected {
}
#u1420_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:371px;
  word-wrap:break-word;
}
#u1421_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:31px;
}
#u1421 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:375px;
  height:30px;
}
#u1421_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:371px;
  word-wrap:break-word;
}
#u1422_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:31px;
}
#u1422 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:375px;
  height:30px;
}
#u1422_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:371px;
  word-wrap:break-word;
}
#u1423_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:31px;
}
#u1423 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:375px;
  height:30px;
}
#u1423_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:371px;
  word-wrap:break-word;
}
#u1424_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:31px;
}
#u1424 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:375px;
  height:30px;
}
#u1424_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:371px;
  word-wrap:break-word;
}
#u1425_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:31px;
}
#u1425 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:375px;
  height:30px;
}
#u1425_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:371px;
  word-wrap:break-word;
}
#u1426_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:31px;
}
#u1426 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:210px;
  width:375px;
  height:30px;
}
#u1426_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:371px;
  word-wrap:break-word;
}
#u1427_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:31px;
}
#u1427 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:375px;
  height:30px;
}
#u1427_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:371px;
  word-wrap:break-word;
}
#u1428 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1429_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:18px;
}
#u1429 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:14px;
  width:76px;
  height:17px;
  text-align:center;
}
#u1429_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u1430_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:7px;
}
#u1430 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:20px;
  width:8px;
  height:6px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1430_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1431 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1432_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u1432 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:14px;
  width:39px;
  height:17px;
  text-align:center;
}
#u1432_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u1433_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:7px;
}
#u1433 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:20px;
  width:8px;
  height:6px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1433_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1434_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:18px;
}
#u1434 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:12px;
  width:85px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0099FF;
}
#u1434_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1435_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:18px;
}
#u1435 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:12px;
  width:85px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1435_img.selected {
}
#u1435.selected {
}
#u1435_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1436_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:2px;
}
#u1436 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:39px;
  width:85px;
  height:1px;
}
#u1436_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1437_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:21px;
}
#u1437 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:11px;
  width:46px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u1437_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
