body {
  margin:0px;
  background-color:rgba(242, 242, 242, 0.6);
  background-image:none;
  position:static;
  left:auto;
  width:385px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1540_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:675px;
}
#u1540 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:375px;
  height:674px;
}
#u1540_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1541 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1542_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u1542 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:34px;
  width:375px;
  height:40px;
  font-size:14px;
  color:#FFFFFF;
}
#u1542_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1543 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1544_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:30px;
}
#u1544 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:375px;
  height:29px;
}
#u1544_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1545_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:15px;
}
#u1545 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:14px;
  width:57px;
  height:14px;
  font-size:10px;
  color:#FFFFFF;
  text-align:center;
}
#u1545_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1546_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:15px;
}
#u1546 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:14px;
  width:57px;
  height:14px;
  font-size:10px;
  color:#FFFFFF;
  text-align:center;
}
#u1546_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1547_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:15px;
}
#u1547 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:14px;
  width:57px;
  height:14px;
  font-size:10px;
  color:#FFFFFF;
  text-align:center;
}
#u1547_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1548_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:95px;
}
#u1548 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:100px;
  width:94px;
  height:94px;
}
#u1548_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:39px;
  width:90px;
  word-wrap:break-word;
}
#u1549_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
}
#u1549 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:43px;
  width:100px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1549_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u1550 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1551_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u1551 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:248px;
  width:30px;
  height:30px;
}
#u1551_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u1552_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:18px;
}
#u1552 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:253px;
  width:141px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1552_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  word-wrap:break-word;
}
#u1553_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:2px;
}
#u1553 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:286px;
  width:346px;
  height:1px;
}
#u1553_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1554 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1555_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u1555 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:297px;
  width:30px;
  height:30px;
}
#u1555_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u1556_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:18px;
}
#u1556 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:302px;
  width:141px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1556_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  word-wrap:break-word;
}
#u1557_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:2px;
}
#u1557 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:335px;
  width:346px;
  height:1px;
}
#u1557_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1558_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:13px;
}
#u1558 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:305px;
  width:17px;
  height:12px;
}
#u1558_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1559_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:41px;
}
#u1559 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:457px;
  width:260px;
  height:40px;
  color:#FFFFFF;
}
#u1559_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:256px;
  word-wrap:break-word;
}
#u1559_ann {
  border-width:0px;
  position:absolute;
  left:323px;
  top:453px;
  width:1px;
  height:1px;
}
