body {
  margin:0px;
  background-color:rgba(255, 255, 255, 0.6);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
}
#u898 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:132px;
  width:49px;
  height:17px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u898_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u899 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:675px;
  overflow:hidden;
}
#u899_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:675px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u899_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u900 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:675px;
  overflow:hidden;
}
#u900_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:675px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u900_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1166px;
}
#u901 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:25px;
  width:374px;
  height:1165px;
}
#u901_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u902_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:375px;
}
#u902 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:374px;
}
#u902_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:178px;
  width:370px;
  word-wrap:break-word;
}
#u903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:39px;
}
#u903 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:393px;
  width:350px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u903_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  word-wrap:break-word;
}
#u903_ann {
  border-width:0px;
  position:absolute;
  left:352px;
  top:389px;
  width:1px;
  height:1px;
}
#u904_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
}
#u904 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:470px;
  width:374px;
  height:1px;
}
#u904_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:18px;
}
#u905 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:432px;
  width:122px;
  height:17px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
}
#u905_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u906 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u907_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
}
#u907 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:480px;
  width:84px;
  height:16px;
}
#u907_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u908_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u908 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:507px;
  width:100px;
  height:30px;
}
#u908_img.selected {
}
#u908.selected {
}
#u908_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u909 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:507px;
  width:100px;
  height:30px;
}
#u909_img.selected {
}
#u909.selected {
}
#u909_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u910_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u910 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:507px;
  width:100px;
  height:30px;
}
#u910_img.selected {
}
#u910.selected {
}
#u910_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
}
#u911 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:1117px;
  width:84px;
  height:16px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
}
#u911_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u912 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u913_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
}
#u913 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:1112px;
  width:59px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u913_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u914 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:1113px;
  width:56px;
  height:25px;
}
#u914_input {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#009DDA;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u914_input {
  font-family:'应用字体';
}
#u915_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:28px;
}
#u915 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:1112px;
  width:35px;
  height:27px;
  color:#009DDA;
}
#u915_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:31px;
  word-wrap:break-word;
}
#u916_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:28px;
}
#u916 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:1112px;
  width:35px;
  height:27px;
  color:#009DDA;
}
#u916_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:31px;
  word-wrap:break-word;
}
#u917 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u918_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
}
#u918 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:563px;
  width:84px;
  height:16px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
}
#u918_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u919_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u919 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:590px;
  width:100px;
  height:30px;
}
#u919_img.selected {
}
#u919.selected {
}
#u919_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u920_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u920 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:590px;
  width:100px;
  height:30px;
}
#u920_img.selected {
}
#u920.selected {
}
#u920_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u921_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u921 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:590px;
  width:100px;
  height:30px;
}
#u921_img.selected {
}
#u921.selected {
}
#u921_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u922 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u923_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
}
#u923 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:645px;
  width:84px;
  height:16px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
}
#u923_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u924_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u924 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:672px;
  width:100px;
  height:30px;
}
#u924_img.selected {
}
#u924.selected {
}
#u924_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u925_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u925 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:672px;
  width:100px;
  height:30px;
}
#u925_img.selected {
}
#u925.selected {
}
#u925_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u926_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u926 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:672px;
  width:100px;
  height:30px;
}
#u926_img.selected {
}
#u926.selected {
}
#u926_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u927_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
}
#u927 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:718px;
  width:374px;
  height:1px;
}
#u927_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u928 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u929_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
}
#u929 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:737px;
  width:84px;
  height:16px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
}
#u929_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u930_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u930 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:764px;
  width:100px;
  height:30px;
}
#u930_img.selected {
}
#u930.selected {
}
#u930_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u931_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u931 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:764px;
  width:100px;
  height:30px;
}
#u931_img.selected {
}
#u931.selected {
}
#u931_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u932 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u933_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
}
#u933 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:820px;
  width:84px;
  height:16px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
}
#u933_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u934_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u934 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:847px;
  width:100px;
  height:30px;
}
#u934_img.selected {
}
#u934.selected {
}
#u934_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u935_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u935 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:847px;
  width:100px;
  height:30px;
}
#u935_img.selected {
}
#u935.selected {
}
#u935_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u936 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u937_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
}
#u937 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:902px;
  width:84px;
  height:16px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
}
#u937_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u938_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u938 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:929px;
  width:100px;
  height:30px;
}
#u938_img.selected {
}
#u938.selected {
}
#u938_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u939_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u939 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:929px;
  width:100px;
  height:30px;
}
#u939_img.selected {
}
#u939.selected {
}
#u939_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u940_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:44px;
}
#u940 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:969px;
  width:330px;
  height:43px;
  font-size:10px;
  color:#999999;
  text-align:left;
}
#u940_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:326px;
  word-wrap:break-word;
}
#u941 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u942_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:23px;
}
#u942 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:1046px;
  width:50px;
  height:22px;
}
#u942_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u942_ann {
  border-width:0px;
  position:absolute;
  left:53px;
  top:1042px;
  width:1px;
  height:1px;
}
#u943_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:31px;
}
#u943 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:1006px;
  width:51px;
  height:30px;
}
#u943_img.selected {
}
#u943.selected {
}
#u943_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:47px;
  word-wrap:break-word;
}
#u944_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:31px;
}
#u944 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:1006px;
  width:51px;
  height:30px;
}
#u944_img.selected {
}
#u944.selected {
}
#u944_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:47px;
  word-wrap:break-word;
}
#u945_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:31px;
}
#u945 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:1006px;
  width:51px;
  height:30px;
}
#u945_img.selected {
}
#u945.selected {
}
#u945_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:47px;
  word-wrap:break-word;
}
#u946_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:31px;
}
#u946 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:1006px;
  width:51px;
  height:30px;
}
#u946_img.selected {
}
#u946.selected {
}
#u946_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:47px;
  word-wrap:break-word;
}
#u947_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:31px;
}
#u947 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:1006px;
  width:51px;
  height:30px;
}
#u947_img.selected {
}
#u947.selected {
}
#u947_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:47px;
  word-wrap:break-word;
}
#u948_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:31px;
}
#u948 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:1006px;
  width:51px;
  height:30px;
}
#u948_img.selected {
}
#u948.selected {
}
#u948_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:47px;
  word-wrap:break-word;
}
#u949_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:23px;
}
#u949 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:1046px;
  width:50px;
  height:22px;
}
#u949_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u949_ann {
  border-width:0px;
  position:absolute;
  left:113px;
  top:1042px;
  width:1px;
  height:1px;
}
#u950_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:23px;
}
#u950 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:1046px;
  width:50px;
  height:22px;
}
#u950_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u950_ann {
  border-width:0px;
  position:absolute;
  left:173px;
  top:1042px;
  width:1px;
  height:1px;
}
#u951_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:23px;
}
#u951 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:1046px;
  width:50px;
  height:22px;
}
#u951_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u951_ann {
  border-width:0px;
  position:absolute;
  left:233px;
  top:1042px;
  width:1px;
  height:1px;
}
#u952_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:23px;
}
#u952 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:1046px;
  width:50px;
  height:22px;
}
#u952_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u952_ann {
  border-width:0px;
  position:absolute;
  left:293px;
  top:1042px;
  width:1px;
  height:1px;
}
#u953_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:23px;
}
#u953 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:1046px;
  width:50px;
  height:22px;
}
#u953_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u953_ann {
  border-width:0px;
  position:absolute;
  left:353px;
  top:1042px;
  width:1px;
  height:1px;
}
#u954_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:23px;
}
#u954 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:981px;
  width:170px;
  height:22px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#666666;
  text-align:left;
}
#u954_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:166px;
  word-wrap:break-word;
}
#u955_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u955 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:25px;
  height:25px;
  color:#FFFFFF;
}
#u955_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u956_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:56px;
}
#u956 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:618px;
  width:375px;
  height:55px;
}
#u956_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u957_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:35px;
}
#u957 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:628px;
  width:98px;
  height:34px;
  color:#FF0000;
}
#u957_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:94px;
  word-wrap:break-word;
}
#u957_ann {
  border-width:0px;
  position:absolute;
  left:351px;
  top:624px;
  width:1px;
  height:1px;
}
#u958_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u958 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:628px;
  width:34px;
  height:34px;
  font-size:10px;
}
#u958_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:30px;
  word-wrap:break-word;
}
#u959_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u959 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:615px;
  width:17px;
  height:17px;
  font-size:6px;
  color:#FFFFFF;
}
#u959_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:13px;
  word-wrap:break-word;
}
