body {
  margin:0px;
  background-color:rgba(242, 242, 242, 0.6);
  background-image:none;
  position:static;
  left:auto;
  width:385px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u946_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:675px;
}
#u946 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:375px;
  height:674px;
}
#u946_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u947 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u948_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u948 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:34px;
  width:375px;
  height:40px;
  font-size:14px;
  color:#FFFFFF;
}
#u948_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u949 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u950_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:30px;
}
#u950 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:375px;
  height:29px;
}
#u950_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u951_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:15px;
}
#u951 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:14px;
  width:57px;
  height:14px;
  font-size:10px;
  color:#FFFFFF;
  text-align:center;
}
#u951_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u952_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:15px;
}
#u952 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:14px;
  width:57px;
  height:14px;
  font-size:10px;
  color:#FFFFFF;
  text-align:center;
}
#u952_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u953_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:15px;
}
#u953 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:14px;
  width:57px;
  height:14px;
  font-size:10px;
  color:#FFFFFF;
  text-align:center;
}
#u953_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u954 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:73px;
  width:376px;
  height:607px;
  overflow:hidden;
}
#u954_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:607px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u954_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u955_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u955 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:34px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u955_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u956_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:711px;
}
#u956 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:710px;
}
#u956_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u957 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u958 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u959_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u959 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:44px;
  width:54px;
  height:54px;
}
#u959_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:50px;
  word-wrap:break-word;
}
#u960_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:23px;
}
#u960 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:46px;
  width:138px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
}
#u960_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  word-wrap:break-word;
}
#u961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:18px;
}
#u961 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:79px;
  width:237px;
  height:17px;
  color:#999999;
}
#u961_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  word-wrap:break-word;
}
#u962_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
}
#u962 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:50px;
  width:43px;
  height:17px;
  color:#999999;
}
#u962_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u963_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:2px;
}
#u963 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:108px;
  width:334px;
  height:1px;
}
#u963_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u964 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u965 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u966 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:119px;
  width:54px;
  height:54px;
}
#u966_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:50px;
  word-wrap:break-word;
}
#u967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:23px;
}
#u967 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:121px;
  width:138px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
}
#u967_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  word-wrap:break-word;
}
#u968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:18px;
}
#u968 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:154px;
  width:237px;
  height:17px;
  color:#999999;
}
#u968_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  word-wrap:break-word;
}
#u969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
}
#u969 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:125px;
  width:43px;
  height:17px;
  color:#999999;
}
#u969_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:2px;
}
#u970 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:183px;
  width:334px;
  height:1px;
}
#u970_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u971 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u972 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u973 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:193px;
  width:54px;
  height:54px;
}
#u973_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:50px;
  word-wrap:break-word;
}
#u974_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:23px;
}
#u974 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:195px;
  width:138px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
}
#u974_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  word-wrap:break-word;
}
#u975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:18px;
}
#u975 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:228px;
  width:237px;
  height:17px;
  color:#999999;
}
#u975_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  word-wrap:break-word;
}
#u976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
}
#u976 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:199px;
  width:43px;
  height:17px;
  color:#999999;
}
#u976_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:2px;
}
#u977 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:257px;
  width:334px;
  height:1px;
}
#u977_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u978 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u979 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u980 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:268px;
  width:54px;
  height:54px;
}
#u980_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:50px;
  word-wrap:break-word;
}
#u981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:23px;
}
#u981 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:270px;
  width:93px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
}
#u981_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:18px;
}
#u982 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:303px;
  width:237px;
  height:17px;
  color:#999999;
}
#u982_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  word-wrap:break-word;
}
#u983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
}
#u983 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:274px;
  width:43px;
  height:17px;
  color:#999999;
}
#u983_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:2px;
}
#u984 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:332px;
  width:334px;
  height:1px;
}
#u984_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u985 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u986 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u987 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:343px;
  width:54px;
  height:54px;
}
#u987_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:50px;
  word-wrap:break-word;
}
#u988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:23px;
}
#u988 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:345px;
  width:91px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
}
#u988_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:18px;
}
#u989 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:378px;
  width:237px;
  height:17px;
  color:#999999;
}
#u989_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  word-wrap:break-word;
}
#u990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
}
#u990 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:349px;
  width:43px;
  height:17px;
  color:#999999;
}
#u990_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:2px;
}
#u991 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:407px;
  width:334px;
  height:1px;
}
#u991_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u992 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u993 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u994 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:418px;
  width:54px;
  height:54px;
}
#u994_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:50px;
  word-wrap:break-word;
}
#u995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:23px;
}
#u995 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:420px;
  width:90px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
}
#u995_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:18px;
}
#u996 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:453px;
  width:237px;
  height:17px;
  color:#999999;
}
#u996_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  word-wrap:break-word;
}
#u997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
}
#u997 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:424px;
  width:43px;
  height:17px;
  color:#999999;
}
#u997_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:2px;
}
#u998 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:482px;
  width:334px;
  height:1px;
}
#u998_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u999 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1000 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u1001 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:492px;
  width:54px;
  height:54px;
}
#u1001_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:50px;
  word-wrap:break-word;
}
#u1002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:23px;
}
#u1002 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:494px;
  width:93px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
}
#u1002_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u1003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:18px;
}
#u1003 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:527px;
  width:237px;
  height:17px;
  color:#999999;
}
#u1003_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  word-wrap:break-word;
}
#u1004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
}
#u1004 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:498px;
  width:43px;
  height:17px;
  color:#999999;
}
#u1004_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u1005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:2px;
}
#u1005 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:556px;
  width:334px;
  height:1px;
}
#u1005_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1006 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1007 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u1008 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:567px;
  width:54px;
  height:54px;
}
#u1008_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:50px;
  word-wrap:break-word;
}
#u1009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:23px;
}
#u1009 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:569px;
  width:93px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
}
#u1009_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u1010_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:18px;
}
#u1010 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:602px;
  width:237px;
  height:17px;
  color:#999999;
}
#u1010_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  word-wrap:break-word;
}
#u1011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
}
#u1011 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:573px;
  width:43px;
  height:17px;
  color:#999999;
}
#u1011_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u1012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:2px;
}
#u1012 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:631px;
  width:334px;
  height:1px;
}
#u1012_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1013 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1014 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1015_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u1015 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:642px;
  width:54px;
  height:54px;
}
#u1015_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:50px;
  word-wrap:break-word;
}
#u1016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:23px;
}
#u1016 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:644px;
  width:93px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
}
#u1016_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u1017_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:18px;
}
#u1017 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:677px;
  width:237px;
  height:17px;
  color:#999999;
}
#u1017_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  word-wrap:break-word;
}
#u1018_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
}
#u1018 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:648px;
  width:43px;
  height:17px;
  color:#999999;
}
#u1018_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u1019_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:2px;
}
#u1019 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:706px;
  width:334px;
  height:1px;
}
#u1019_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1020_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
}
#u1020 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:43px;
  width:100px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1020_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u1021_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:21px;
}
#u1021 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:43px;
  width:46px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1021_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u1022_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u1022 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:45px;
  width:16px;
  height:16px;
}
#u1022_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1022_ann {
  border-width:0px;
  position:absolute;
  left:353px;
  top:41px;
  width:1px;
  height:1px;
}
#u1023_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:35px;
}
#u1023 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:73px;
  width:188px;
  height:34px;
  font-size:12px;
  color:#990000;
}
#u1023_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:184px;
  word-wrap:break-word;
}
#u1024_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:35px;
}
#u1024 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:73px;
  width:188px;
  height:34px;
  font-size:12px;
}
#u1024_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:184px;
  word-wrap:break-word;
}
