body {
  margin:0px;
  background-color:rgba(255, 255, 255, 0.6);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
}
#u1667 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:132px;
  width:49px;
  height:17px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1667_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1668 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:675px;
  overflow:hidden;
}
#u1668_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:675px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1668_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1669 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:675px;
  overflow:hidden;
}
#u1669_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:675px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u1669_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1166px;
}
#u1670 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:25px;
  width:374px;
  height:1165px;
}
#u1670_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:375px;
}
#u1671 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:374px;
}
#u1671_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:178px;
  width:370px;
  word-wrap:break-word;
}
#u1672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:39px;
}
#u1672 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:393px;
  width:350px;
  height:38px;
  font-size:12px;
}
#u1672_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  word-wrap:break-word;
}
#u1672_ann {
  border-width:0px;
  position:absolute;
  left:352px;
  top:389px;
  width:1px;
  height:1px;
}
#u1673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
}
#u1673 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:470px;
  width:374px;
  height:1px;
}
#u1673_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:18px;
}
#u1674 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:432px;
  width:122px;
  height:17px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
}
#u1674_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u1674_ann {
  border-width:0px;
  position:absolute;
  left:123px;
  top:428px;
  width:1px;
  height:1px;
}
#u1675 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
}
#u1676 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:480px;
  width:84px;
  height:16px;
}
#u1676_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u1677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u1677 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:507px;
  width:100px;
  height:30px;
}
#u1677_img.selected {
}
#u1677.selected {
}
#u1677_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1678_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u1678 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:507px;
  width:100px;
  height:30px;
}
#u1678_img.selected {
}
#u1678.selected {
}
#u1678_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u1679 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:507px;
  width:100px;
  height:30px;
}
#u1679_img.selected {
}
#u1679.selected {
}
#u1679_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1680_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
}
#u1680 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:1117px;
  width:84px;
  height:16px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
}
#u1680_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u1681 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
}
#u1682 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:1112px;
  width:59px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1682_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1683 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:1113px;
  width:56px;
  height:25px;
}
#u1683_input {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#009DDA;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u1683_input {
  font-family:'应用字体';
}
#u1684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:28px;
}
#u1684 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:1112px;
  width:35px;
  height:27px;
  color:#009DDA;
}
#u1684_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:31px;
  word-wrap:break-word;
}
#u1685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:28px;
}
#u1685 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:1112px;
  width:35px;
  height:27px;
  color:#009DDA;
}
#u1685_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:31px;
  word-wrap:break-word;
}
#u1686 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
}
#u1687 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:563px;
  width:84px;
  height:16px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
}
#u1687_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u1688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u1688 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:590px;
  width:100px;
  height:30px;
}
#u1688_img.selected {
}
#u1688.selected {
}
#u1688_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u1689 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:590px;
  width:100px;
  height:30px;
}
#u1689_img.selected {
}
#u1689.selected {
}
#u1689_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u1690 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:590px;
  width:100px;
  height:30px;
}
#u1690_img.selected {
}
#u1690.selected {
}
#u1690_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1691 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
}
#u1692 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:645px;
  width:84px;
  height:16px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
}
#u1692_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u1693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u1693 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:672px;
  width:100px;
  height:30px;
}
#u1693_img.selected {
}
#u1693.selected {
}
#u1693_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u1694 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:672px;
  width:100px;
  height:30px;
}
#u1694_img.selected {
}
#u1694.selected {
}
#u1694_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u1695 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:672px;
  width:100px;
  height:30px;
}
#u1695_img.selected {
}
#u1695.selected {
}
#u1695_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1696_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
}
#u1696 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:718px;
  width:374px;
  height:1px;
}
#u1696_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1697 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
}
#u1698 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:737px;
  width:84px;
  height:16px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
}
#u1698_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u1699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u1699 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:764px;
  width:100px;
  height:30px;
}
#u1699_img.selected {
}
#u1699.selected {
}
#u1699_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1700_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u1700 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:764px;
  width:100px;
  height:30px;
}
#u1700_img.selected {
}
#u1700.selected {
}
#u1700_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1701 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
}
#u1702 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:820px;
  width:84px;
  height:16px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
}
#u1702_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u1703_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u1703 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:847px;
  width:100px;
  height:30px;
}
#u1703_img.selected {
}
#u1703.selected {
}
#u1703_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1703_ann {
  border-width:0px;
  position:absolute;
  left:102px;
  top:843px;
  width:1px;
  height:1px;
}
#u1704_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u1704 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:847px;
  width:100px;
  height:30px;
}
#u1704_img.selected {
}
#u1704.selected {
}
#u1704_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1705 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1706_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
}
#u1706 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:902px;
  width:84px;
  height:16px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
}
#u1706_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u1707_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u1707 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:929px;
  width:100px;
  height:30px;
}
#u1707_img.selected {
}
#u1707.selected {
}
#u1707_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1708_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u1708 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:929px;
  width:100px;
  height:30px;
}
#u1708_img.selected {
}
#u1708.selected {
}
#u1708_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1708_ann {
  border-width:0px;
  position:absolute;
  left:216px;
  top:925px;
  width:1px;
  height:1px;
}
#u1709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:44px;
}
#u1709 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:969px;
  width:330px;
  height:43px;
  font-size:10px;
  color:#999999;
  text-align:left;
}
#u1709_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:326px;
  word-wrap:break-word;
}
#u1710 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:23px;
}
#u1711 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:1046px;
  width:50px;
  height:22px;
}
#u1711_img.selected {
}
#u1711.selected {
}
#u1711_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1711_ann {
  border-width:0px;
  position:absolute;
  left:53px;
  top:1042px;
  width:1px;
  height:1px;
}
#u1712_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:31px;
}
#u1712 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:1006px;
  width:51px;
  height:30px;
}
#u1712_img.selected {
}
#u1712.selected {
}
#u1712_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:47px;
  word-wrap:break-word;
}
#u1712_ann {
  border-width:0px;
  position:absolute;
  left:53px;
  top:1002px;
  width:1px;
  height:1px;
}
#u1713_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:31px;
}
#u1713 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:1006px;
  width:51px;
  height:30px;
}
#u1713_img.selected {
}
#u1713.selected {
}
#u1713_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:47px;
  word-wrap:break-word;
}
#u1714_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:31px;
}
#u1714 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:1006px;
  width:51px;
  height:30px;
}
#u1714_img.selected {
}
#u1714.selected {
}
#u1714_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:47px;
  word-wrap:break-word;
}
#u1715_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:31px;
}
#u1715 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:1006px;
  width:51px;
  height:30px;
}
#u1715_img.selected {
}
#u1715.selected {
}
#u1715_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:47px;
  word-wrap:break-word;
}
#u1716_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:31px;
}
#u1716 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:1006px;
  width:51px;
  height:30px;
}
#u1716_img.selected {
}
#u1716.selected {
}
#u1716_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:47px;
  word-wrap:break-word;
}
#u1717_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:31px;
}
#u1717 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:1006px;
  width:51px;
  height:30px;
}
#u1717_img.selected {
}
#u1717.selected {
}
#u1717_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:47px;
  word-wrap:break-word;
}
#u1718_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:23px;
}
#u1718 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:1046px;
  width:50px;
  height:22px;
}
#u1718_img.selected {
}
#u1718.selected {
}
#u1718_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1718_ann {
  border-width:0px;
  position:absolute;
  left:113px;
  top:1042px;
  width:1px;
  height:1px;
}
#u1719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:23px;
}
#u1719 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:1046px;
  width:50px;
  height:22px;
}
#u1719_img.selected {
}
#u1719.selected {
}
#u1719_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1719_ann {
  border-width:0px;
  position:absolute;
  left:173px;
  top:1042px;
  width:1px;
  height:1px;
}
#u1720_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:23px;
}
#u1720 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:1046px;
  width:50px;
  height:22px;
}
#u1720_img.selected {
}
#u1720.selected {
}
#u1720_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1720_ann {
  border-width:0px;
  position:absolute;
  left:233px;
  top:1042px;
  width:1px;
  height:1px;
}
#u1721_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:23px;
}
#u1721 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:1046px;
  width:50px;
  height:22px;
}
#u1721_img.selected {
}
#u1721.selected {
}
#u1721_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1721_ann {
  border-width:0px;
  position:absolute;
  left:293px;
  top:1042px;
  width:1px;
  height:1px;
}
#u1722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:23px;
}
#u1722 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:1046px;
  width:50px;
  height:22px;
}
#u1722_img.selected {
}
#u1722.selected {
}
#u1722_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1722_ann {
  border-width:0px;
  position:absolute;
  left:353px;
  top:1042px;
  width:1px;
  height:1px;
}
#u1723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:23px;
}
#u1723 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:981px;
  width:170px;
  height:22px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#666666;
  text-align:left;
}
#u1723_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:166px;
  word-wrap:break-word;
}
#u1724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u1724 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:25px;
  height:25px;
  color:#FFFFFF;
}
#u1724_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u1725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:56px;
}
#u1725 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:618px;
  width:375px;
  height:55px;
}
#u1725_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:35px;
}
#u1726 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:628px;
  width:98px;
  height:34px;
  color:#FF0000;
}
#u1726_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:94px;
  word-wrap:break-word;
}
#u1726_ann {
  border-width:0px;
  position:absolute;
  left:351px;
  top:624px;
  width:1px;
  height:1px;
}
#u1727_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1727 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:628px;
  width:34px;
  height:34px;
  font-size:10px;
}
#u1727_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:30px;
  word-wrap:break-word;
}
#u1728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1728 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:615px;
  width:17px;
  height:17px;
  font-size:6px;
  color:#FFFFFF;
}
#u1728_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:13px;
  word-wrap:break-word;
}
#u1729 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:675px;
}
#u1730 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:674px;
}
#u1730_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:234px;
}
#u1731 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:133px;
  width:319px;
  height:233px;
}
#u1731_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1732_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:19px;
}
#u1732 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:146px;
  width:53px;
  height:18px;
  font-size:13px;
  color:#666666;
}
#u1732_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1733_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:2px;
}
#u1733 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:175px;
  width:319px;
  height:1px;
}
#u1733_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:36px;
}
#u1734 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:332px;
  width:319px;
  height:35px;
}
#u1734_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:315px;
  word-wrap:break-word;
}
#u1735_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:33px;
}
#u1735 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:215px;
  width:270px;
  height:32px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#000000;
  line-height:16px;
}
#u1735_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
