body {
  margin:0px;
  background-color:rgba(255, 255, 255, 0.6);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u960 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:41px;
  width:376px;
  height:626px;
  overflow:hidden;
}
#u960_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:626px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u960_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:691px;
}
#u961 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:690px;
}
#u961_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u962 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u963 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:159px;
}
#u964 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:375px;
  height:158px;
}
#u964_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u965 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:57px;
  width:16px;
  height:16px;
}
#u965_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u965_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:35px;
}
#u966 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:25px;
  width:227px;
  height:34px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
}
#u966_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  word-wrap:break-word;
}
#u966_ann {
  border-width:0px;
  position:absolute;
  left:336px;
  top:21px;
  width:1px;
  height:1px;
}
#u967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:15px;
}
#u967 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:64px;
  width:207px;
  height:14px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u967_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  word-wrap:break-word;
}
#u967_ann {
  border-width:0px;
  position:absolute;
  left:316px;
  top:60px;
  width:1px;
  height:1px;
}
#u968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:21px;
}
#u968 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:87px;
  width:23px;
  height:20px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u968_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:83px;
}
#u969 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:25px;
  width:82px;
  height:82px;
}
#u969_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:78px;
  word-wrap:break-word;
}
#u970 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:23px;
}
#u971 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:85px;
  width:39px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u971_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u972 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:86px;
  width:37px;
  height:20px;
}
#u972_input {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#009DDA;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u972_input {
  font-family:'应用字体';
}
#u973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u973 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:85px;
  width:23px;
  height:22px;
  color:#009DDA;
}
#u973_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  word-wrap:break-word;
}
#u974_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u974 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:85px;
  width:23px;
  height:22px;
  color:#009DDA;
}
#u974_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  word-wrap:break-word;
}
#u975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:18px;
}
#u975 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:137px;
  width:101px;
  height:17px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u975_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u975_ann {
  border-width:0px;
  position:absolute;
  left:123px;
  top:133px;
  width:1px;
  height:1px;
}
#u976 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u977 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:159px;
}
#u978 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:175px;
  width:375px;
  height:158px;
}
#u978_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u979 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:224px;
  width:16px;
  height:16px;
}
#u979_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u979_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:35px;
}
#u980 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:192px;
  width:227px;
  height:34px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
}
#u980_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  word-wrap:break-word;
}
#u980_ann {
  border-width:0px;
  position:absolute;
  left:336px;
  top:188px;
  width:1px;
  height:1px;
}
#u981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:15px;
}
#u981 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:226px;
  width:207px;
  height:14px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u981_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  word-wrap:break-word;
}
#u981_ann {
  border-width:0px;
  position:absolute;
  left:316px;
  top:222px;
  width:1px;
  height:1px;
}
#u982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:21px;
}
#u982 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:254px;
  width:28px;
  height:20px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u982_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:83px;
}
#u983 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:192px;
  width:82px;
  height:82px;
}
#u983_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:78px;
  word-wrap:break-word;
}
#u984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:15px;
}
#u984 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:240px;
  width:219px;
  height:14px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u984_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  word-wrap:break-word;
}
#u985 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:23px;
}
#u986 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:258px;
  width:39px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u986_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u987 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:259px;
  width:37px;
  height:20px;
}
#u987_input {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#009DDA;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u987_input {
  font-family:'应用字体';
}
#u988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u988 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:258px;
  width:23px;
  height:22px;
  color:#009DDA;
}
#u988_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  word-wrap:break-word;
}
#u989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u989 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:258px;
  width:23px;
  height:22px;
  color:#009DDA;
}
#u989_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  word-wrap:break-word;
}
#u990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:18px;
}
#u990 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:300px;
  width:101px;
  height:17px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u990_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u991 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u992 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:159px;
}
#u993 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:342px;
  width:375px;
  height:158px;
}
#u993_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u994 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:391px;
  width:16px;
  height:16px;
}
#u994_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u994_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:35px;
}
#u995 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:359px;
  width:227px;
  height:34px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
}
#u995_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  word-wrap:break-word;
}
#u995_ann {
  border-width:0px;
  position:absolute;
  left:336px;
  top:355px;
  width:1px;
  height:1px;
}
#u996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:15px;
}
#u996 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:398px;
  width:207px;
  height:14px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u996_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  word-wrap:break-word;
}
#u996_ann {
  border-width:0px;
  position:absolute;
  left:316px;
  top:394px;
  width:1px;
  height:1px;
}
#u997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:21px;
}
#u997 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:421px;
  width:44px;
  height:20px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u997_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:83px;
}
#u998 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:359px;
  width:82px;
  height:82px;
}
#u998_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:78px;
  word-wrap:break-word;
}
#u999 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:23px;
}
#u1000 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:419px;
  width:39px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1000_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1001 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:420px;
  width:37px;
  height:20px;
}
#u1001_input {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#009DDA;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u1001_input {
  font-family:'应用字体';
}
#u1002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u1002 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:419px;
  width:23px;
  height:22px;
  color:#009DDA;
}
#u1002_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  word-wrap:break-word;
}
#u1003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u1003 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:419px;
  width:23px;
  height:22px;
  color:#009DDA;
}
#u1003_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  word-wrap:break-word;
}
#u1004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:18px;
}
#u1004 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:471px;
  width:101px;
  height:17px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1004_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u1005 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1006 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:159px;
}
#u1007 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:509px;
  width:375px;
  height:158px;
}
#u1007_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1008 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:558px;
  width:16px;
  height:16px;
}
#u1008_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1008_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:35px;
}
#u1009 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:526px;
  width:227px;
  height:34px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
}
#u1009_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  word-wrap:break-word;
}
#u1009_ann {
  border-width:0px;
  position:absolute;
  left:336px;
  top:522px;
  width:1px;
  height:1px;
}
#u1010_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:15px;
}
#u1010 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:565px;
  width:207px;
  height:14px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u1010_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  word-wrap:break-word;
}
#u1010_ann {
  border-width:0px;
  position:absolute;
  left:316px;
  top:561px;
  width:1px;
  height:1px;
}
#u1011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:83px;
}
#u1011 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:526px;
  width:82px;
  height:82px;
}
#u1011_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:78px;
  word-wrap:break-word;
}
#u1012 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:23px;
}
#u1013 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:586px;
  width:39px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1013_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1014 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:587px;
  width:37px;
  height:20px;
}
#u1014_input {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#009DDA;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u1014_input {
  font-family:'应用字体';
}
#u1015_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u1015 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:586px;
  width:23px;
  height:22px;
  color:#009DDA;
}
#u1015_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  word-wrap:break-word;
}
#u1016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u1016 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:586px;
  width:23px;
  height:22px;
  color:#009DDA;
}
#u1016_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  word-wrap:break-word;
}
#u1017_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:18px;
}
#u1017 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:634px;
  width:101px;
  height:17px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1017_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u1018 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1019_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:691px;
}
#u1019 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:690px;
}
#u1019_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1020_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:234px;
}
#u1020 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:133px;
  width:319px;
  height:233px;
}
#u1020_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1021_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:19px;
}
#u1021 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:146px;
  width:79px;
  height:18px;
  font-size:13px;
  color:#666666;
}
#u1021_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u1022_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:2px;
}
#u1022 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:175px;
  width:319px;
  height:1px;
}
#u1022_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1023_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:36px;
}
#u1023 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:332px;
  width:160px;
  height:35px;
  font-size:14px;
  color:#FFFFFF;
}
#u1023_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u1024_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:36px;
}
#u1024 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:332px;
  width:160px;
  height:35px;
}
#u1024_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u1025_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:35px;
}
#u1025 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:206px;
  width:270px;
  height:34px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
}
#u1025_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u1026 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1027 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1028 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1029_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u1029 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  font-size:14px;
  color:#FFFFFF;
}
#u1029_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1030_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:21px;
}
#u1030 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:10px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1030_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1031_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:18px;
}
#u1031 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:12px;
  width:25px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1031_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1032_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:18px;
}
#u1032 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:13px;
  width:16px;
  height:17px;
  color:#FFFFFF;
}
#u1032_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u1033 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1034_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:50px;
}
#u1034 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:618px;
  width:375px;
  height:49px;
}
#u1034_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1035 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:635px;
  width:63px;
  height:16px;
}
#u1035_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u1035_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1036_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:17px;
}
#u1036 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:635px;
  width:140px;
  height:16px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
}
#u1036_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u1037_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:31px;
}
#u1037 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:628px;
  width:113px;
  height:30px;
  color:#FF0000;
}
#u1037_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:109px;
  word-wrap:break-word;
}
#u1037_ann {
  border-width:0px;
  position:absolute;
  left:339px;
  top:624px;
  width:1px;
  height:1px;
}
