body {
  margin:0px;
  background-color:rgba(255, 255, 255, 0.6);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1673 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:376px;
  height:633px;
  overflow:hidden;
}
#u1673_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:633px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u1673_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:633px;
}
#u1674 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:632px;
}
#u1674_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
}
#u1675 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:25px;
  width:49px;
  height:17px;
  color:#666666;
}
#u1675_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1676 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:21px;
}
#u1677 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:52px;
  width:86px;
  height:20px;
  font-size:12px;
}
#u1677_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:82px;
  word-wrap:break-word;
}
#u1677_ann {
  border-width:0px;
  position:absolute;
  left:93px;
  top:48px;
  width:1px;
  height:1px;
}
#u1678_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:21px;
}
#u1678 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:52px;
  width:86px;
  height:20px;
  font-size:12px;
}
#u1678_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:82px;
  word-wrap:break-word;
}
#u1679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:21px;
}
#u1679 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:52px;
  width:86px;
  height:20px;
  font-size:12px;
}
#u1679_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:82px;
  word-wrap:break-word;
}
#u1680_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:21px;
}
#u1680 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:52px;
  width:86px;
  height:20px;
  font-size:12px;
}
#u1680_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:82px;
  word-wrap:break-word;
}
#u1681 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:21px;
}
#u1682 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:75px;
  width:86px;
  height:20px;
  font-size:12px;
}
#u1682_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:82px;
  word-wrap:break-word;
}
#u1683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:21px;
}
#u1683 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:75px;
  width:86px;
  height:20px;
  font-size:12px;
}
#u1683_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:82px;
  word-wrap:break-word;
}
#u1684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:21px;
}
#u1684 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:75px;
  width:86px;
  height:20px;
  font-size:12px;
}
#u1684_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:82px;
  word-wrap:break-word;
}
#u1685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:21px;
}
#u1685 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:75px;
  width:86px;
  height:20px;
  font-size:12px;
}
#u1685_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:82px;
  word-wrap:break-word;
}
#u1686 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:21px;
}
#u1687 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:99px;
  width:86px;
  height:20px;
  font-size:12px;
}
#u1687_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:82px;
  word-wrap:break-word;
}
#u1688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:21px;
}
#u1688 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:99px;
  width:86px;
  height:20px;
  font-size:12px;
}
#u1688_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:82px;
  word-wrap:break-word;
}
#u1689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:21px;
}
#u1689 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:99px;
  width:86px;
  height:20px;
  font-size:12px;
}
#u1689_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:82px;
  word-wrap:break-word;
}
#u1690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:21px;
}
#u1690 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:99px;
  width:86px;
  height:20px;
  font-size:12px;
}
#u1690_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:82px;
  word-wrap:break-word;
}
#u1691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:18px;
}
#u1691 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:25px;
  width:25px;
  height:17px;
  text-decoration:underline;
  color:#999999;
}
#u1691_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1691_ann {
  border-width:0px;
  position:absolute;
  left:353px;
  top:21px;
  width:1px;
  height:1px;
}
#u1692 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1693 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u1694 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  font-size:14px;
  color:#FFFFFF;
}
#u1694_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:24px;
}
#u1695 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:9px;
  width:240px;
  height:23px;
  font-size:10px;
  color:#999999;
  text-align:left;
}
#u1695_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:236px;
  word-wrap:break-word;
}
#u1696_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u1696 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:13px;
  width:16px;
  height:16px;
}
#u1696_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:18px;
}
#u1697 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:12px;
  width:8px;
  height:17px;
  color:#999999;
}
#u1697_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
