body {
  margin:0px;
  background-color:rgba(255, 255, 255, 0.6);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2395_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:675px;
}
#u2395 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:674px;
}
#u2395_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2396 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2397_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:31px;
}
#u2397 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:56px;
  width:339px;
  height:30px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u2397_text {
  border-width:0px;
  position:absolute;
  left:7px;
  top:6px;
  width:330px;
  word-wrap:break-word;
}
#u2398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u2398 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:66px;
  width:10px;
  height:10px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u2398_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2399_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u2399 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:39px;
  width:16px;
  height:16px;
}
#u2399_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2400 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2401 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u2402 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  font-size:14px;
  color:#FFFFFF;
}
#u2402_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2403_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u2403 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:10px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2403_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:21px;
}
#u2404 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:10px;
  width:46px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2404_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u2405_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:18px;
}
#u2405 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:10px;
  width:25px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0099FF;
}
#u2405_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2406_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:359px;
}
#u2406 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:104px;
  width:339px;
  height:358px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u2406_text {
  border-width:0px;
  position:absolute;
  left:7px;
  top:10px;
  width:330px;
  word-wrap:break-word;
}
#u2407 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2408_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:675px;
}
#u2408 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:674px;
}
#u2408_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2409 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2410_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:366px;
}
#u2410 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:304px;
  width:365px;
  height:365px;
}
#u2410_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2411_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:19px;
}
#u2411 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:323px;
  width:53px;
  height:18px;
  font-size:13px;
  color:#666666;
}
#u2411_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:2px;
}
#u2412 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:358px;
  width:365px;
  height:1px;
}
#u2412_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2413 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:2px;
}
#u2414 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:405px;
  width:344px;
  height:1px;
}
#u2414_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:19px;
}
#u2415 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:373px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u2415_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2416 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2417_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:2px;
}
#u2417 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:454px;
  width:344px;
  height:1px;
}
#u2417_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2418_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:19px;
}
#u2418 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:422px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u2418_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2419 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:2px;
}
#u2420 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:503px;
  width:344px;
  height:1px;
}
#u2420_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2421_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:19px;
}
#u2421 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:471px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u2421_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2422 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2423_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:2px;
}
#u2423 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:552px;
  width:344px;
  height:1px;
}
#u2423_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2424_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:19px;
}
#u2424 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:520px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u2424_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2425 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2426_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:2px;
}
#u2426 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:601px;
  width:344px;
  height:1px;
}
#u2426_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2427_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:19px;
}
#u2427 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:569px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u2427_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2428 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2429_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:2px;
}
#u2429 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:650px;
  width:344px;
  height:1px;
}
#u2429_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2430_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
}
#u2430 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:618px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u2430_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u2431_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:137px;
}
#u2431 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:213px;
  width:136px;
  height:136px;
  font-size:16px;
  color:#FFFFFF;
}
#u2431_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:57px;
  width:132px;
  word-wrap:break-word;
}
